<ul data-id="{{movie.id}}">

<h5>
  {{movie.title}}
</h5>

<h6>
  Id: {{movie.id}}
</h6>

<form class="destroy">
  <fieldset>
    <input type="integer" name="movie[id]" placeholder="Delete movie by ID">
    <input type="submit" name="submit" value="Submit ID">
  </fieldset>
</form>

</ul>
