{{#each movies as |movie|}}

  <ul data-id="{{movie.id}}">
  <h5>
    {{movie.title}}
  </h5>
  <button data-id="{{@index}}" class="btn btn-default removeLastButton">Remove From Favorites</button>
  </ul>

{{/each}}
<!--This is a single function which iterates through every book, making it far easier to use than the independent mutation of each element for the DOM-->
