<!--Seems like partial has become a storage space. These buttons were pulled
from the other templates and replaced with for fields. Will likely end up deleted-->

<button data-id="{{@index}}" id="test" class="btn btn-default destroy">Remove From Favorites</button>

<button data-id="{{@index}}" id="test2" class="btn btn-default destroy">Remove From Favorites</button>
