<button data-id="{{@index}}" id="test" class="btn btn-default destroy">Remove From Favorites</button>

<button data-id="{{@index}}" id="test2" class="btn btn-default destroy">Remove From Favorites</button>
