$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body{
 text-align: center;
 margin:0;
 font-family: "Times New Roman", Times, serif;
}

.destroy{
  background-color: white;
  // float: right;
}

.sign-up{
  visibility: visible;
}

.core{
  visibility: hidden;
}

.logout{
  visibility: hidden;
}

.show{
  visibility: hidden;
}

.update{
  visibility: hidden;
}

.create{
  padding-top: 1cm;
}

.logout-banner{
  padding-bottom: .5cm;
}

#sign-out{
  padding-top: .25cm;
}

#sign-in{
  padding-top: .25cm;
}
