$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body{
 text-align: center;
 margin:0;
 font-family: 'Inconsolata', monospace;
}

h1{
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 45px;
  margin: 0;
}

h5{

}

.destroy{
  background-color: white;
}

.sign-up{
  visibility: visible;
}

.core{
  visibility: hidden;
}

.logout{
  visibility: hidden;
}

.show{
  visibility: hidden;
}

.core-alert{
  padding-top: .5cm;
}

.create{
  padding-top: .25cm;
}

.logout-banner{
  padding-bottom: .5cm;
}

.display-info{
  padding-top: .25cm;
  padding-bottom: .25cm;
}

.sobutton{
  background-color: #cc0000;
  color: #d9d9d9;
}

#sign-out{
  padding-top: .25cm;
}

#sign-in{
  padding-top: .25cm;
}
