$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body{
 text-align: center;
 margin:0;
 font-family: 'Inconsolata', monospace;
}

h1{
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 45px;
  margin: 0;
}

input[type=submit]{
  border-radius: 4px;
  background-color: #e6e6e6;
}

input[type=submit]:hover{
  background-color: #808080;
}

// footer{
//   padding-top: .75cm;
// background-color: #e0e0d1;
// }

.toggle{
  background-color: #e6e6e6;
}

.toggle:hover{
  background-color: #808080;
}

.destroy{
  background-color: white;
}

.sign-up{
  visibility: visible;
}

.core{
  visibility: hidden;
}

.logout{
  padding-top: .75cm;
  visibility: hidden;
}

.core-alert{
  padding-top: .15cm;
}

.create{
  padding-top: .1cm;
}

.logout-banner{
  padding-bottom: .05cm;
}

.display-info{
  padding-top: .25cm;
  padding-bottom: .25cm;
}

.update{
  padding-top: .15cm;
}

.omdb{
  padding-top: .25cm;
  padding-bottom: .25cm;
}

#sign-out{
  padding-top: .25cm;
}

#sign-out[type=submit]:hover{
  background-color: #660000;
}

#sign-in{
  padding-top: .25cm;
}
